<div class="card" style="width: 18rem;margin-top: 10px;background-color:dodgerblue" >
    <img src="https://fakeimg.pl/250x100" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Aly Elsaeed</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush" style="text-align:center;">
      <li class="list-group-item">FaceBook</li>
      <li class="list-group-item">Instgram</li>
      <li class="list-group-item">WatsApp</li>
      <li class="list-group-item">FaceBook</li>
      <li class="list-group-item">Instgram</li>
      <li class="list-group-item">WatsApp</li>
      <li class="list-group-item">FaceBook</li>
      <li class="list-group-item">Instgram</li>
      <li class="list-group-item">WatsApp</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Email</a>
      <a href="#" class="card-link">Another Email</a>
    </div>
  </div>
  <!-- <h1>Hello in our Site</h1> -->
